{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
    <h1>Information</h1>
</div>
<hr class="featurette-divider">
<div class="row featurette">
{% if About_programer %}
{% for information in About_programer %}
    <div class="col-md-7">
        <h2 class="featurette-heading">{{ information.name }}</h2>
        <h5 class="text-muted">{{ information.category }}</h5>
        <p class="lead">{{ information.description }}</p>
        <p class="lead">{{ information.programming_languages }}
    </div>
{% endfor %}
{% else %}
<p>We don't have anything here</p>
{% endif %}
{% endblock %}